.shop-now3 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'cormorant garamond';
  color: black;
  margin: 20px;
  font-size: 18px;
  width: 100%;
  letter-spacing: -0.04em;
  line-height: 130%;
  text-transform: capitalize;
}
.component-child {
  position: absolute;
  height: 44.29%;
  width: 20.65%;
  top: 26.43%;
  right: 0;
  bottom: 29.29%;
  left: 79.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div {
  position: absolute;
  font-family: 'cormorant garamond';
  font-size: 25px;
  color: rgba(0, 0, 0, 0.362);
  top: 259.8px;
  left: 228px;
  width: 62px;
  height: 14px;
  text-align: center;
  font-size: var(--font-size-2xs);

  font-family: var(--font-moneta);
}
