@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moneta:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-abhaya-libre: "Abhaya Libre";
  --font-moneta: Moneta;
  --font-rufina: Rufina;
  --font-poppins: Poppins;
  --font-marcellus: Marcellus;
  --font-nunito: Nunito;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-6xs: 7px;
  --font-size-base: 16px;
  --font-size-3xl: 22px;
  --font-size-4xs-7: 8.7px;
  --font-size-25xl: 44px;
  --font-size-smi: 13px;
  --font-size-xs: 12px;
  --font-size-2xs: 11px;
  --font-size-6xs-5: 6.5px;
  --font-size-24xl-9: 43.9px;

  /* Colors */
  --color-white: #fff;
  --blue-gray-200: #e2e8f0;
  --gray-500: #71717a;
  --color-dimgray-100: #79593d;
  --gray-600: #52525b;
  --color-gray-100: #272727;
  --color-gray-200: #222;
  --color-gray-300: #101010;
  --color-gray-400: #070707;
  --color-gray-500: #050505;
  --color-gray-600: rgba(255, 255, 255, 0.3);
  --color-darkslategray: #06382a;
  --color-black: #000;
  --color-whitesmoke: #efefef;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-209xl-4: 228.4px;
}
